<title>Multiverse Chess!</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bc926d">
<meta name="Description" content="Play multiverse chess online. Move your pieces across dimensions and timelines to attack your opponent in the past!">
<meta name="apple-mobile-web-app-title" content="Multiverse Chess">
<meta name="application-name" content="Multiverse Chess">
<meta name="msapplication-TileColor" content="#e3c7a3">
<meta name="theme-color" content="#999999">
<link rel="stylesheet" type="text/css" href="index.css?<%=VERSION%>">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script type="text/javascript" src="js/socket.io.min.js"></script>
<script type="text/javascript" src="js/gamePieces.js?<%=VERSION%>"></script>
<script type="text/javascript" src="js/clientPieces.js?<%=VERSION%>"></script>
<script type="text/javascript" src="js/game.js?<%=VERSION%>"></script>
<script type="text/javascript" src="js/client.js?<%=VERSION%>"></script>
<script type="text/javascript" src="js/menu.js?<%=VERSION%>"></script>
<script type="text/javascript" src="js/main.js?<%=VERSION%>"></script>